.firstSection{
    width: 100%;
    height: 100vh;
    position: relative;
}
.firstSectionImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.firstSectionText{
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.backgroundSection{
    height: 80%;
    width: 90%;
    background-color: rgba(240, 248, 255, 0.555);
    border-radius: 50px;
}

.contentContainer {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.contentHalf {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentImage {
    width: 100%;
    max-height: 300px;
    max-width: 330px;
    object-fit: cover;
    margin-bottom: 25px;
    border: 0.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: .5rem .5rem .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit:cover;
}

.contentTitle {
    font-size: 26px;
    margin-bottom: 8px;
    color: #333;
    transform: translateY(-50%);
    font-weight: bold;
}

.contentParagraph {
    font-size: 19px;
    line-height: 1.5;
    color: #272525;
    text-align: center;
    max-width: 80%;
}

/* Optional: Add some hover effects */
.contentHalf:hover .contentImage {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.contentHalf:hover .contentTitle {
    color: #000;
}