.social-media-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    
    z-index: 1000;
}
.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid  #000000b6;
  background-color: #fff;
  box-shadow: 4px 4px  #000000b6;
  color: #000;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.icon {
  width: 40px;
  height: 40px;
  fill: #000;
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px #201f1f9f;
  transform: translate(3px, 3px);
}


